In [1]:
install.packages("titanic")


#Import required library
library("titanic")
library(tidyverse)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Warning message:
“Failed to locate timezone database”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [2]:
head(titanic_train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
,<int>,<int>,<int>,<chr>,<chr>,<dbl>,<int>,<int>,<chr>,<dbl>,<chr>,<chr>
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S
6,6,0,3,"Moran, Mr. James",male,NA,0,0,330877,8.4583,,Q

In [3]:
glimpse(titanic_train)

Rows: 891
Columns: 12
$ PassengerId <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,…
$ Survived    <int> 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1…
$ Pclass      <int> 3, 1, 3, 1, 3, 3, 1, 3, 3, 2, 3, 1, 3, 3, 3, 2, 3, 2, 3, 3…
$ Name        <chr> "Braund, Mr. Owen Harris", "Cumings, Mrs. John Bradley (Fl…
$ Sex         <chr> "male", "female", "female", "female", "male", "male", "mal…
$ Age         <dbl> 22, 38, 26, 35, 35, NA, 54, 2, 27, 14, 4, 58, 20, 39, 14, …
$ SibSp       <int> 1, 1, 0, 1, 0, 0, 0, 3, 0, 1, 1, 0, 0, 1, 0, 0, 4, 0, 1, 0…
$ Parch       <int> 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 5, 0, 0, 1, 0, 0, 0…
$ Ticket      <chr> "A/5 21171", "PC 17599", "STON/O2. 3101282", "113803", "37…
$ Fare        <dbl> 7.2500, 71.2833, 7.9250, 53.1000, 8.0500, 8.4583, 51.8625,…
$ Cabin       <chr> "", "C85", "", "C123", "", "", "E46", "", "", "", "G6", "C…
$ Embarked    <chr> "S", "C", "S", "S", "S", "Q", "S", "S", "S", "C", "S", "S"…

In [4]:
# drop na
titanic_train <- na.omit(titanic_train)
nrow(titanic_train)

In [5]:
# change Survived to factor 
titanic_train$Survived <-factor(titanic_train$Survived, 
                            levels=c(0,1),
                            labels=c("Died","Survived"))

In [6]:
glimpse(titanic_train)

Rows: 714
Columns: 12
$ PassengerId <int> 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19…
$ Survived    <fct> Died, Survived, Survived, Survived, Died, Died, Died, Surv…
$ Pclass      <int> 3, 1, 3, 1, 3, 1, 3, 3, 2, 3, 1, 3, 3, 3, 2, 3, 3, 2, 2, 3…
$ Name        <chr> "Braund, Mr. Owen Harris", "Cumings, Mrs. John Bradley (Fl…
$ Sex         <chr> "male", "female", "female", "female", "male", "male", "mal…
$ Age         <dbl> 22, 38, 26, 35, 35, 54, 2, 27, 14, 4, 58, 20, 39, 14, 55, …
$ SibSp       <int> 1, 1, 0, 1, 0, 0, 3, 0, 1, 1, 0, 0, 1, 0, 0, 4, 1, 0, 0, 0…
$ Parch       <int> 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 5, 0, 0, 1, 0, 0, 0, 0…
$ Ticket      <chr> "A/5 21171", "PC 17599", "STON/O2. 3101282", "113803", "37…
$ Fare        <dbl> 7.2500, 71.2833, 7.9250, 53.1000, 8.0500, 51.8625, 21.0750…
$ Cabin       <chr> "", "C85", "", "C123", "", "E46", "", "", "", "G6", "C103"…
$ Embarked    <chr> "S", "C", "S", "S", "S", "S", "S", "S", "C", "S", "S", "S"…

In [11]:

train_test_split <- function(data, train_size=0.8){
  set.seed(42) #lock result
  n<- nrow(data)
  id <- sample(1:n , size = n*train_size)
  train_data <- data[id,]
  test_data <- data[-id,]
  
  return(list(train_data,test_data))
}

In [27]:
split_data<- train_test_split(titanic_train,0.75)
train_data <- split_data[[1]]
test_data <- split_data[[2]]

## Train DATA

In [29]:
model <- glm(Survived ~ Pclass + Age + Sex + SibSp + Parch, 
            data = train_data, 
            family="binomial")

In [34]:
p <- predict(model , data = train_data)
#probability
train_data$predicted <- if_else(p <= 0.5, "Died", "Survived")
##acc
acc_train <- mean( train_data$predicted == train_data$Survived)

##Test DATA

In [35]:
p <- predict(model , newdata = test_data)
test_data$predicted <- if_else(p <= 0.5, "Died", "Survived")

## Model Evalutaion

In [39]:
## confusion matrix table(x,y)
### for train data
connM <- table(train_data$predicted , train_data$Survived , dnn = c('predicted','actual'))
accuracy <- (connM[1,1]+connM[2,2]) / sum(connM)
cat ("Accuracy : ", accuracy)
precision <- connM[2,2] / (connM[2,1]+connM[2,2]) 
cat ("\nprecision : ", precision)
recall <- connM[2,2] / (connM[1,2]+connM[2,2]) 
cat ("\nrecall :" , recall)
f1 <- 2*precision*recall / (precision+recall)
cat("\nf1-score:", f1 )

Accuracy :  0.8074766
precision :  0.8527607
recall : 0.6376147
f1-score: 0.7296588

In [40]:
### for test data
connM <- table(test_data$predicted , test_data$Survived , dnn = c('predicted','actual'))
accuracy <- (connM[1,1]+connM[2,2]) / sum(connM)
cat ("Accuracy : ", accuracy)
precision <- connM[2,2] / (connM[2,1]+connM[2,2]) 
cat ("\nprecision : ", precision)
recall <- connM[2,2] / (connM[1,2]+connM[2,2]) 
cat ("\nrecall :" , recall)
f1 <- 2*precision*recall / (precision+recall)
cat("\nf1-score:", f1 )

Accuracy :  0.8100559
precision :  0.88
recall : 0.6111111
f1-score: 0.7213115